<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <h1>New Shelter info:</h1>
  <p>Shelter name:</p>
  <input type='text' name='shelter[name]' /><br/>
</form>
