<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <h1>New Shelter info</h1>
  <p>Name: </p>
  <input type='text' name='shelter[name]' /><br/>
  <p>Address: </p>
  <input type='text' name='shelter[address]' /><br/>
  <p>City: </p>
  <input type='text' name='shelter[city]' /><br/>
  <p>State: </p>
  <input type='text' name='shelter[state]' /><br/>
  <p>Zipcode: </p>
  <input type='text' name='shelter[zip]' /><br/>
  <input type='submit' value="Create Shelter"/>
</form>
